.btn{
  padding: 1.6rem 4rem;
  border-radius: 15px;
  text-align: center;
  &:focus{
    outline:none;
    border: none;
  }
  &:active{
    outline:none;
    border: none;
  }
}
.btn__primary{
  @extend .btn;
  background: $secondary-color;
  color: $light-grey;
}

.btn__success{
  @extend .btn;
  background: $green;
  color: $light-grey;
}

.btn__danger{
  @extend .btn;
  background: $red;
  color: $light-grey;
}

.btn__gray{
  @extend .btn;
  background: $mid-grey;
  color: $light-grey;
}

.btn--sm{
  padding: 1.3rem 2rem !important;
}