// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// Banner
.banner {
  grid-area: banner;
    background-color: $light-grey;
    padding-top: 2rem;
    padding-bottom: 2rem;
  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}
